*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: Arial, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 220px 1fr;   /* sidebar | main */
    grid-template-rows: 60px 1fr;       /* navbar | content */
    height: 100vh;
}
.sidebar {
  grid-row: 1 / 3; /* span navbar + content */
  background-color: #2c3e50;
  color: white;
  padding: 16px;
}
.navbar {
  background-color: #34495e;
  color: white;
  padding: 16px;
}

.action,.security{
    display: flex;
    flex-direction:column;
    gap: 10px; 
}
.project-container {
  padding: 20px;
  background-color: #ecf0f1;
}